nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 86%;
    margin:0.8rem auto 1rem;
    position: sticky;
}
nav .navbar a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.015em;
    margin-right: 1.6rem;
    cursor: pointer;
}
nav div a:active{
    color: #E20088;
    font-weight: 700;
}
nav div a:hover{
    color: #E20088;
    font-weight: 600;
}
nav div .get-started{
    background-color: #E20088;
    padding:1rem 1.3rem;
    border-radius: 8px;
    color: #FFF;
    margin-right: 0;
    font-weight: 700;
}
nav div .get-started:active{
    color: #FFF;
}
nav div .get-started:hover{
    color: #FFF;
}
@media (max-width: 850px) {
    .navbar{
        display: none;
    }
}
html { scroll-behavior: smooth; } 