nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 86%;
    margin:0.8rem auto 1.8rem;
}
nav .navbar a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.015em;
    margin-right: 1.6rem;
}
nav div a:active{
    color: #E20088;
    font-weight: 700;
}
nav div a:hover{
    color: #E20088;
}
nav div .get-started{
    background: linear-gradient(92.81deg, #E20088 39.07%, #4E53A5 162.03%);
    padding:1rem 1.3rem;
    border-radius: 1.6rem;
    color: #FFF;
    margin-right: 0;
    font-weight: 700;
}
@media (max-width: 850px) {
    .navbar{
        display: none;
    }
}
html { scroll-behavior: smooth; } 