.password .input{
    width: 479px;
    height: 55px;
    border-radius: 4px;
    border: 1px solid #A3A3A3;
    outline: none;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    align-items: center;
}
.password{
    padding-top: 8px;
}
.password .input img{
    max-width: 30px;
    max-height: 30px;
}
.password .input input{
    width: 90%;
    height: 50px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 16px;
}