@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.forgot-password-sidebar{
    background-image: url("../../../assets/images/forgot-password-bg.png");
    width: 402px;
    height: 1024px;
    padding-top: 131px;
    display: flex;
    justify-content: center;
}
.forgot-password-wrapper main{
    margin: 0 auto;
}
.forgot-password-sidebar img{
    max-width: 226.67px;
    height: 329.97px;
}
.forgot-password-wrapper{
    display: flex;
    max-width: 1440px;
    height: auto;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.forgot-password-parent{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    max-width: 503px;
    border-radius: 10px;
    gap: 66px;
    margin: 0 auto;
}
.pdt-48{
    padding-top: 48px;
}
.forgot-password-text h3{
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: #E20088;
    text-align: center;
    margin-top: 131px;
    margin-bottom: 8px;
}
.forgot-password-parent h4{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}
.forgot-password-parent p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.015em;
    margin-top: 32px;
    margin-bottom: 8px;
}
.forgot-password-parent input{
    width: 479px;
    height: 55px;
    border: 1px solid #A3A3A3;
    outline: none;
    margin-bottom: 48px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    padding-left: 12px;
}
.forgot-password-parent input::placeholder{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;

}
.submit-forgot-password{
    background-color: #E20088;
    width: 479px;
    height: 64px;
    border-radius: 8px;
    border: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.015em;
    color: #ffffff;
}
.forgot-password-text{
    display: flex;
    flex-direction: column;
}
.forgot-password-icon{
    margin-left: 99px;
    margin-bottom: 24.25px;
}
@media (max-width: 1200px) {
    .forgot-password-parent{
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        padding-top: 40px;
    }
    .forgot-password-wrapper{
        background-repeat: repeat;
    }
    .forgot-password-text{
        align-items: center;
    }
}
@media (max-width: 700px) {
    .forgot-password-parent input{
        width: 100%;
    }
    .w-85{
        width: 85%;
    }
    .forgot-password-img img{
        max-width: 90%;
    }
    .forgot-password-img{
        display: flex;
        justify-content: center;
    }
    .forgot-password-wrapper{
        padding-bottom: 100px;
    }
}
@media (max-width: 425px){
    .forgot-password-icon{
        margin-left: 0;
    }
}