.password-reset-page-wrapper{
    display: flex;
}
.mg-auto{
    margin: 0 auto;
}
.password-reset-page-password{
    padding-top: 32px;
}
.password-reset-page-form button{
    width: 479px;
    height: 64px;
    background-color: #E20088;
    border-radius: 8px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.015em;
    margin-top: 64px;
    color: #ffffff;
    border: none;
}
.password-reset-page-form-wrapper{
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    max-width: 1121.65px;
    margin: 0 auto;
    padding-top: 133px;
    justify-content: center;
    gap: 24px;
    max-width: 479px;
}
.password-reset-page-icon{
    margin-left: 99px;
}
.password-reset-page-form-wrapper h3{
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    color: #E20088;
}
.password-reset-page-form{
    max-width: 582px;
}
.password-reset-page-form p{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
}
.password-reset-page-form h6{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.015em;
    text-align: left;
}
.mgt-32{
    margin-top: 32px;
}