*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.password-reset-code{
  display: flex;
  height: 100vh;
}
.password-reset-code-sidebar{
  width: 402px;
  padding-top: 133px;
  display: flex;
  background: url('../../../assets/images/login-background.png');
}
.password-reset-code .container{
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  gap: 1.5rem;
  border-radius: .64rem;
  background: #ffffff;
  width: 80%;
  height: 22rem;
  align-content: center;
  margin-bottom: 50px;
 margin: auto;
 margin-top: 10px;
}
.component-btn{
  width: 90%;
}
.password-reset-code h3{
  color: #E20088;
  font-size: 1.5rem;
  margin-bottom: 8px;
} 
.password-reset-code p{
  font-size: 0.8rem;
  text-align: center;
  color: #000000;
  max-width: 420px;
  margin-bottom: 48px;

}
.password-reset-code .password-reset{
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  margin-top: 1rem;
  text-align: center;
}
.password-reset-code .otp-bx{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 48px;

}
.password-reset-code .bx{
  width: 2rem ;
  height: 2rem ;
  text-align: center;
  margin-left: 3rem;
  border: 1px solid #000000;
  border-radius: 4px;
}
.password-reset-code .verifybtn{
  width: 25rem;
  height: 48px;
  background-color: #E20088;
  border: 0.0762891px solid #FEFEFE;
  border-radius: 8px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.015em;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .password-reset-code{
    flex-direction: column;
  }
  .password-reset-code-sidebar{
    background: #ffffff;
    padding: 20px;
  }
}
@media (min-width: 768px) {
  .password-reset-code-sidebar{
    justify-content: center;
  }
}
@media (max-width: 470px) {
  .password-reset-code button{
    width: 80%;
  }
}