*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.password-reset-code{
  font-family: "Inter", sans-serif;
  line-height: 2.5rem;
  background: url('../../../assets/images/273_Pink_Halftone_BG_2.png') fixed;
}
.password-reset-code .logo{
  display: flex;
  position: absolute;
  transform: rotate(28.78deg);
  height: 500px;
 margin-left: 800px;
 margin-bottom: 200px;
  opacity: 0.1;
  margin-top: -30px;
}
.password-reset-code .container{
  display: flex;
  justify-content: center;
  padding: 3rem;
  gap: 1.5rem;
  border-radius: .64rem;

  background: #ffffff;
  width: 50rem;
  height: 22rem;


  
  align-content: center;
  margin-bottom: 50px;
 margin: auto;
 margin-top: 4px;
}
.password-reset-code h3{
  color: #E20088;
  font-size: 1.5rem;
} 
.password-reset-code p{
  font-size: 0.8rem;
  color: #000000;

}
.password-reset-code .password-reset{
  text-align: center;
}
.password-reset-code .otp-bx{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 1rem ;
  margin-bottom: 1.5rem;

}
.password-reset-code .bx{
  width: 2rem ;
  height: 2rem ;
text-align: center;
margin-left: 3rem;
border: 1px solid #E20088;
border-radius: 4px;
}
.password-reset-code button {
  padding: 16px 26px;

width: 25rem;
height: 48px;

background: linear-gradient(92.81deg, #E20088 39.07%, #4E53A5 162.03%);
border: 0.0762891px solid #FEFEFE;
border-radius: 100px;
}
.password-reset-code .vector{
  margin-left: 13rem;
  margin-top: 2rem;
}
@media (max-width: 400px){
  * {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  .password-reset-code{
    font-family: "Inter", sans-serif;
    line-height: 2.5rem;
    background: url("../../../assets/images/273_Pink_Halftone_BG\ 2.png") fixed ;
    
  }
  .password-reset-code .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
  
    background: #ffffff;
    /* padding: 30px;
    gap: 24px; */
    border-radius: 10px;
    position: absolute;
    /* width: 1173.12px;
    height: 548px;
    left: 147px;
    top: 208px; */
    width: 50%;
    height: fit-content;
    margin: auto;
    align-items: center;
    margin-left: 2rem;
    margin-top: -10px;
   
  }
  .password-reset-code h3{
    color: #E20088;
    font-size: 13px;
  }
  .password-reset-code p{
    font-size: 10px;
    color: hsl(0, 0%, 0%);
    width: 60%;
    margin: auto;
  }
  .password-reset-code .password-reset{
    text-align: center;
  }
  .password-reset-code .otp-bx{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1rem ;
    margin-bottom: 1.8rem;
    margin-right: 1rem;
  
  
  }
  .password-reset-code .bx{
    width: 1.7rem;
  height: 1.7rem;
  
  text-align: center;
  margin-left: 1rem;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  background: #FFFFFF;
  border: 1px solid #E20088;
  border-radius: 4px;
  }
  .password-reset-code button {
    padding: 8px 13px;
 
  width: 90%;


  background: linear-gradient(92.81deg, #E20088 39.07%, #4E53A5 162.03%);
  border: 0.0762891px solid #FEFEFE;
  border-radius: 100px;
  }
  .password-reset-code .container img{
  width: 180px;
  height: 50%;
}
.password-reset-code .vector{
 

margin-top: 0px;
margin-left: -1px;


  
}
.password-reset-code .logo{
  margin-left: -7px;
  opacity: 0.15;
}
}
/* @media (max-width: 800px) and (min-width: 400px)  {
  *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  body{
    font-family: "Inter", sans-serif;
    line-height: 2.5rem;
    background: url("./273_Pink_Halftone_BG\ 2.png") fixed;
  }
  .logo{
    display: flex;
    position: absolute;
    transform: rotate(28.78deg);
    height: 500px;
   margin-left: 800px;
   margin-bottom: 200px;
    opacity: 0.1;
    margin-top: -30px;
  }
  .container{
    display: flex;
    justify-content: center;
    padding: 3rem;
    gap: 1.5rem;
    border-radius: .64rem;
  
    background: #ffffff;
    width: 90%;
    height: 22rem;
  
  
    
    align-content: center;
    margin-bottom: 50px;
   margin: auto;
   margin-top: 4px;
  }
  h3{
    color: #E20088;
    font-size: 6rem;
  } 
  p{
    font-size: 0.7rem;
    color: #000000;
    width: 100%;
    padding-right: 15px;
  
  }
  .password-reset{
    text-align: center;
  }
  .otp-bx{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1%;
    margin-bottom;
    margin-right: 25%;
  
  }
  .bx{
    width: 2rem ;
    height: 2rem ;
  text-align: center;
  margin-left: 3rem;
  border: 1px solid #E20088;
  border-radius: 4px;
  }
  button {
    padding: 16px 26px;
  
  width: 90%;
  margin-right:30px ;
  height: 48px;
  
  background: linear-gradient(92.81deg, #E20088 39.07%, #4E53A5 162.03%);
  border: 0.0762891px solid #FEFEFE;
  border-radius: 100px;
  }
  .vector{
    margin-left: 2rem;
    height: 10px;
  }
  .container img{
    width: 50%;

  }
} */
@media (min-width: 401px) and (max-width:900px){
  *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  .password-reset-code {
    font-family: "Inter", sans-serif;
    line-height: 2.5rem;
    background: url("../../../assets/images/273_Pink_Halftone_BG\_2.png") fixed;
  }
  .password-reset-code .container{
    display: flex;
    justify-content: center;
    padding: 3rem;
    gap: 1.5rem;
    border-radius: .64rem;
  
    background: #ffffff;
    width: 90%;
    height: fit-content;
  
  
    
    align-content: center;
    margin-bottom: 50px;
   margin: auto;
   margin-top: 4px;
  }
  .password-reset-code h3{
    color: #E20088;
    font-size: 90%;
    width: 100%;
  
 
    line-height: 150%;
 
  } 
  .password-reset-code p{
    font-size: 70%;
    color: #000000;
    width: 90%;
    padding-left: 20px;
   

  
 
  
  }
  .password-reset-code .password-reset{
    align-self: center;
    text-align: center;
  }
  .password-reset-code .otp-bx{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1%;

    width: 60% ;
   margin-left: 12%;
  
  }
  .password-reset-code .bx{
    width: 2rem;
    height: 2rem ;
  text-align: center;
  margin-left: 20%;
  border: 1px solid #E20088;
  border-radius: 4px;
  /* padding: 10%; */
  
  }
  .password-reset-code button {
    padding:2% 2%;
  
  width: 90%;
  margin-right:4%;
 
  
  background: linear-gradient(92.81deg, #E20088 39.07%, #4E53A5 162.03%);
  border: 0.0762891px none;
  border-radius: 100px;
  }
  .password-reset-code .vector{
    margin-left: 2rem;
    height: 60px; margin-top: 0px;
    margin-bottom: 45px;
  }
  .password-reset-code .container img{
    width: 50%;
  }
  .password-reset-code .password-reset{
    width: 50%;
  }
}