@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sign-up-method {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  gap: 23.82px;
  width: 638px;
  height: 64px;
  margin: 0 auto;
  border-radius: 200px;
}
.component-btn{
  width: 90%;
}
.mgt-48 {
  margin-top: 48px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 8%) !important;
  margin-bottom: 10rem;
  width: 500px;
  color: #525252;
}
.sign-up-wrapper {
  max-width: 1440px;
  padding-top: 0px;
  display: flex;
}
.left-flex{
  background-image: url('../../../assets/images/login-background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 30%;
  display: flex;
  padding-top: 80px;
}
.right-flex{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 70%;
}
.sign-up-icon {
  margin-left: 99px;
  margin-bottom: 24.25px;
}
.sign-up-wrapper .input {
  width: 100%;
  height: 55px;
  border-radius: 4px;
  border: 1px solid #a3a3a3;
  outline: none;
  padding-left: 12px;
}
.sign-up-wrapper .input input {
  width: 95%;
  height: 50px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 16px;
}
.sign-up-form {
  background-color:#ffffff;
  width: 57%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 5rem;
  align-items: center;
}
.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.sign-up-wrapper .input-1 {
  width: 100%;
  height: 55px;
  border-radius: 4px;
  border: 1px solid #a3a3a3;
  outline: none;
  padding-left: 12px;
}
.sign-up-wrapper h3{
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  color: #e20088;
  margin-bottom: 32px;
}
.sign-up-wrapper h4 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color:#E20088;
  text-align: center;
  margin: 24px 0;
}
.sign-up-wrapper h5 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.015em;
}
.sign-up-wrapper h5 a {
  color: #e20088;
}
.sign-up-wrapper h6 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.015em;
}
.sign-up-wrapper p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.015em;
  text-align: left;
}
.password-requirements{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
align-items: center;
color: #000000;
margin-top: 1rem;
}
.sign-up-wrapper .signup {
  width: 500px;
  height: 64px;
  border-radius: 8px;
  background:  #E20088;
  cursor: pointer;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.015em;
  border: none;
  margin: 0px 0;
  color: #ffffff;
  cursor: pointer;
}

.sign-up-wrapper button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  margin-bottom: 1rem;
}

.sign-up-wrapper .google-wrapper {
  width: 500px;
  margin: auto;
}

.google-wrapper button {
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 200px !important;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 8%) !important;
  width: 100%;
  justify-content: center;
  color: #525252 !important;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 32px;
  letter-spacing: 0.015em;
}

.sign-up-wrapper .google {
  width: 100%;
  background: white;
  line-height: normal;
  justify-content: center;
  border-radius: 100px !important;
}

.sign-up-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.w-100{
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .sign-up-form {
    width: 60%;
  }
  .sign-up-wrapper {
    max-width: 1440px;
    padding-top: 0px;
    flex-direction: column;
  }

  .left-flex{
    background-image: none;
    width: 100%;
    display: flex;
    padding-top: 80px;
  }
  .left-flex img{
    max-width: 226.67px;
    max-height: 329.97px;
  }
  .right-flex{
    width: 100%;
  }

  .sign-up-wrapper .input input {
    width: 89%;
  }
}
@media (max-width: 471px) {
  .sign-up-wrapper .input input {
    width: 89%;
  }
}
@media (max-width: 374px) {
  .sign-up-wrapper .input input {
    width: 79%;
  }
}